.img{
    height: 550px;
    display: block; 
    float: right; 
    width: 100%; 
}
.text-center{
    margin-top: 30vh;
}
.searchdiv{
    height: 50px;
    display: flex;
    margin-left: 50px;
    position: absolute;
    top: 400px;
    left: 70px;
    width: 30vw;
    
    
    
}
.maindiv{
    position: relative;
}
.searchbar{
     border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.icon{
   border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: lightblue;  
}
.bottomdiv{
    height: 100px;
}
.span{
    margin-left: 10px;
    color: white;
}
.carousel-container {
  height: 80vh;

  margin-top: 200px;
}
.corouselmaindiv{
   margin-top: 110px;
}
.corodiv{
    display: flex;
    
}






@media screen and (max-width:650px) {
    .bottomdiv span{
        display: none;
    }
    .img{
    height: 45vh;
    margin-top: -60vh;
    
}
.searchdiv{
    height: 50px;
    display: flex;
    margin-left: 10vw;
    position: absolute;
    top:70vh;
    left: 2vw;
    width: 80vw;

    
    
    
}
    .corodiv{
        display: flex;
        flex-direction: column-reverse;
        height: 80vh;
      
    } 
    .textdiv{
      display: flex;
      padding: 0 8vw;
      
      
      
        
    }
    .imgdiv{
       height: auto;
       width: 100%;
    
     
    
    }
    .img{
         width: 100%;
        height: auto;
        display: block;
        margin-top: 0;
    }
    .text-center{
    margin-top: 3vh;
}
}